* {margin: 0 ;
   padding: 0 ;
}
.header-menu {
    justify-content: flex-end;
    display: flex;
    margin-top: -20px;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 17px;
}
ul {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    list-style-type: none;
}
li {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)),
          url('background.png');
}
.head-inner {
    width: 100%;
}
.header-top {
    width: 100%;
    height: 30px;
}
.header-logotip a {
    font-size: 20px;
}
.header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px;
} 
.button {
    display: block;
    text-align: center;
    width: 180px;
    padding: 15px 0;
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 2px;
    background: transparent;
    text-transform: uppercase;
    transition: background 0.7s;
    font-size: 20px;
}
.button:hover {
    background: rgb(255, 14, 14);
}
.article {
    width: 100%;
    height: 100vh;
    background: white;
    
}
.container {
    display: flex;
    justify-content: center;
}
.centerh2 {
    margin: 100px;
}
.line {
    border: black 0.5px solid;
    margin: auto;
    margin-top: -75px;
    width: 50px;
}
.centerp {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.animation {
    display: flex;
    justify-content: space-around;
    color: red;
}
.margincircle {
    margin: auto;
    margin-top: 25%;
    font-size: 75px;
    border-radius: 100%;
}
.circle {
    border: black 2px solid;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin: 75px;
}
.circle:hover {
    background-color: red;
    color: white;
}
.text {
    display: flex;
    justify-content: space-around;
    margin-top: -50px;
}
.header-logotip {
    margin-top: 25px;
}
.text2 {
    display: flex;
    justify-content: space-around;
justify-content: center;
text-align: center;
}
.footer {
    width: 100%;
    height: 50vh;
    background: tomato;
}
.twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: rgb(255, 255, 255) 3px solid;
    color: white;
    margin: 10px;
    margin-top: 50px;
}
.container456 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}
.dog2 {
    margin: auto;
    color: white;
}
.white {
    color: white;
}
@media screen and (max-width: 576px) {
    .header-top {
        justify-content: center;
    }
    .header-menu {
        display: none;
    }
    .animation {
        justify-content: center;
    }
}



